<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
</head>

<body>
    <h2>登录页面</h2>
    <form class="loginPane" action="/login" enctype="multipart/form-data" method="post">
        <label for="username">Name:
            <input class="loginItem" type="text" name="username" />
        </label>
        <label for="password">Password:
            <input class="loginItem" type="password" name="password" />
        </label>
        <button type="submit">登录</button>
    </form>
</body>

</html>