<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账单列表</title>
    <style>
        .accountLayout {
            display: block;
            width: 800px;
            margin: 0 auto;
        }

        .listItem {
            display: block;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 8px 4px;
        }

        .date {
            display: block;
            background-color: plum;
            color: black;
            padding: 8px 10px;
        }

        .accountInfo {
            display: flex;
            text-align: center;
            align-items: center;
            padding: 8px 10px;
        }

        .remark {
            flex: 2;
            text-align: left;
        }

        .type {
            width: 50px;
            border-radius: 5px;
            color: aliceblue;
        }

        .outType {
            background-color: tan;
        }

        .inType {
            background-color: rgb(16, 238, 68);
        }

        .count {
            flex: 1;
        }

        .delBtn {
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-decoration: none;
            background-color: red;
            color: aliceblue;
            border-radius: 50%;
            padding: 0;
            cursor: pointer;
            opacity: 0;
        }

        .delBtn:hover {
            opacity: 1
        }

        .create {
            display: inline-block;
            width: 80px;
            height: 40px;
            background-color: chocolate;
            color: black;
            border-radius: 5px;
            text-align: center;
            padding: 2px 8px;
            line-height: 40px;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <h2>帐单列表</h2>
    <hr>
    <a class="create" href="/account/create">创建账单</a>
    <ul class="accountLayout">
        <% accounts.forEach(item=>{ %>
            <li class="listItem">
                <div class="date">
                    <%= dayjs(item.billTime).format('YYYY-MM-DD') %>
                </div>
                <div class="accountInfo">
                    <div class="remark">
                        <%= item.accountType %>
                    </div>
                    <% if(item.billType===-1) {%>
                        <div class="type outType">支出</div>
                        <% } else { %>
                            <div class="type inType">收入</div>
                            <% } %>

                                <div class="count">
                                    <%= item.account %>元
                                </div>
                                <a class="delBtn" href="/account/<%= item._id %>">X</a>
                </div>
            </li>
            <% }) %>
    </ul>
    <script>
        let btns = document.querySelectorAll('.delBtn')
        btns.forEach(item => {
            item.addEventListener('click', function (e) {
                if (confirm('确定删除吗?')) {
                    return true
                } else {
                    e.preventDefault()
                }
            })
        })
    </script>
</body>

</html>