<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload avatar</title>
</head>

<body>
    <h2>上传头像</h2>
    <form action="/avatar/upload" method="post" enctype="multipart/form-data">
        userName: <input name="username" /><br />
        avatar: <input name="avatar" type="file" />
        <hr />
        <button type="submit">提交上传</button>
    </form>
</body>

</html>