<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>result</title>
    <style>
        a {
            display: inline-block;
            width: 100px;
            padding: 10px 20px;
            background-color: aquamarine;
            color: black;
            border-radius: 5px;
            text-align: center;
        }
    </style>
</head>

<body>
    <h3>
        <%= msg %>
    </h3>
    <a href="/<%= url %>">继续跳转</a>
</body>

</html>